    
    <!-- latest work -->

    <section class="letest_work">
        <div class="work_container">
            <h2 class="work_title">My latest work</h2>
            <div class="work_content">
                <div class="workboth">
                    <img src="../images/work-1.png" alt="workpng">
                </div>
                <div class="workboth">
                    <img src="../images/work-2.jpg" alt="workpng">
                </div>
                <div class="workboth">
                    <img src="../images/work-3.jpg" alt="workpng">
                </div>
            </div>
        </div>
    </section>